{% extends 'base.html' %}

{% load static %}

{% block title %} Test | {% endblock %}

{% block content %}

<h1>Hello, {{user.username}}!</h1>

{% if context %}
	{% for message in context %}
        <h1>Hello, {{message}}!</h1>
						<!-- <div class="toast align-items-center text-bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="d-flex">
							<div class="toast-body">
								{{ message }}
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
						</div> -->
	{% endfor %}
{% endif %}

{% endblock %}